services:
  backend:
    container_name: template-backend
    build:
      context: ../../  # CRITICAL: Sets context to Project Root
      dockerfile: micro-apps/template-node-react/backend/Dockerfile
    environment:
      - PORT=5000
      - REDIS_HOST=shared-redis
    networks:
      - salesduo-net

  frontend:
    container_name: template-frontend
    build:
      context: ../../  # CRITICAL: Sets context to Project Root
      dockerfile: micro-apps/template-node-react/frontend/Dockerfile
    environment:
      - VITE_API_URL=http://javascript.lvh.me
    ports:
      - "5000:5173" # Expose Frontend on port 5000 (map to lvh.me via hosts or nginx later)
    networks:
      - salesduo-net

# Connect to the Existing Core Network
networks:
  salesduo-net:
    external: true